.topframe_contact{
	width: 100%;
	height: 240px;
	margin: 0 auto;
	background:url(img/aboutustopbg.png) ;
	background-position:50% 50%;
	background-repeat:no-repeat;
}

.main{
	width: 100%;
	position: relative;
	background: rgba(245, 245, 245,1.00);
	height: 900px;
}

.main .content{
	width:1160px;
	margin: 0 auto;
	position: relative;
}

.main .content .center{
	width:1160px;
	position: absolute;
	
	padding-top: 30px;
	height: 800px;
	left: 0px;
}

.main .content .center .top{
	width:1160px;
	position: relative;
	height: 35px;
	border-bottom:5px solid rgba(238, 238, 238,1.0);
}

.main .content .center .top .title_left{
	width:150px;
	position: absolute;
	left: 0px;
	height: 35px;
	background: url(img/aboutsmall.png);
	background-position:1% 50%;
	background-repeat:no-repeat;
	background-size: 20px;
}

.main .content .center .top .title_left a{
	padding-left: 20px;
	width:130px;
	height: 35px;
	line-height: 35px;
	color: rgba(85, 85, 85,1.0);
	font-size: 20px;
	font-family: Microsoft Yahei;
}

.main .content .center .cooperation_box{
	width: 1160px;
	height: 330px;
	position: relative;
}

.main .content .center .cooperation_box ul{
	list-style: none;
}


.main .content .center .cooperation_box li{
	width: 280px;
	height: 130px;
	position: relative;
	float: left;
	margin: 20px 40px 0px 40px;
	background: rgba(255,255,255,1.00);
	border-radius: 3px;
	box-shadow: 0px 0px 1px #ccc;
	border:1px solid rgba(200, 200, 200,0.4);
}

.main .content .center .cooperation_box li .top_style{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom: 1px solid rgba(200,200,200,0.4);
	width: 280px;
	height: 29px;
	margin: 0 auto;
	text-align: center;
}

.main .content .center .cooperation_box li .top_style a{
	width:280px;
	height: 29px;
	line-height: 29px;
	color: rgba(0, 183, 238,1.0);
	font-size: 15px;
	font-family: Microsoft Yahei;
	display: inline-block;
}

.main .content .center .cooperation_box li .main_style{
	width: 280px;
	height: 65px;
	padding-top: 35px;
	margin: 0 auto;
	text-align: center;
}

.main .content .center .cooperation_box li .main_style a{
	width:280px;
	color: rgba(200, 200, 200,1.0);
	font-size: 13px;
	font-family: Microsoft Yahei;
	text-decoration: none;
}


.main .content .center .questions_box{
	width: 1080px;
	height: 380px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	position: relative;
}

.main .content .center .questions_box .left{
	width: 540px;
	height: 380px;
	left: 0px;
	text-align: center;
	position: absolute;
}


.main .content .center .questions_box .right{
	width: 540px;
	height: 380px;
	right: 0px;
	text-align: center;
	position: absolute;
}

.main .content .center .questions_box .left span{
	color: rgba(150, 150, 150,1.0);
	font-size: 16px;
	font-family: Microsoft Yahei Light;
	text-decoration: none;
}

.main .content .center .questions_box .left .introduction{
	color: rgba(150, 150, 150,1.0);
	font-size: 14px;
	font-family: Microsoft Yahei Light;
	text-decoration: none;
}



.main .content .center .questions_box .left a{
	color: rgba(0, 210, 255,1.0);
	font-size: 15px;
	font-family: Microsoft Yahei Light;
	text-decoration: none;
}

.main .content .center .questions_box .right a{
	color: rgba(0, 210, 255,1.0);
	font-size: 15px;
	font-family: Microsoft Yahei Light;
	text-decoration: none;
}

.main .content .center .questions_box .right span{
	color: rgba(150, 150, 150,1.0);
	font-size: 16px;
	font-family: Microsoft Yahei Light;
	text-decoration: none;
}

.main .content .center .questions_box .right .introduction{
	color: rgba(150, 150, 150,1.0);
	font-size: 14px;
	font-family: Microsoft Yahei Light;
	text-decoration: none;
}



.main .content .center .questions_box .right a{
	color: rgba(0, 210, 255,1.0);
	font-size: 15px;
	font-family: Microsoft Yahei Light;
	text-decoration: none;
}

.footer_contact{
	 background: #f1f1f1;
    border-top: 1px solid #e6e6e6;
}