.topframe_friends_links{
	width: 100%;
	height: 240px;
	margin: 0 auto;
	background:url(img/aboutustopbg.png) ;
	background-position:50% 50%;
	background-repeat:no-repeat;
}

.main{
	width: 100%;
	position: relative;
	background: rgba(245, 245, 245,1.00);
	height: 850px;
}

.main .content{
	width:1160px;
	margin: 0 auto;
	position: relative;
}

.main .content .center{
	width:1160px;
	position: absolute;
	
	padding-top: 30px;
	height: 800px;
	left: 0px;
}

.main .content .center .top{
	width:1160px;
	position: relative;
	height: 35px;
	border-bottom:5px solid rgba(238, 238, 238,1.0);
}

.main .content .center .top .title_left{
	width:150px;
	position: absolute;
	left: 0px;
	height: 35px;
	background: url(img/aboutsmall.png);
	background-position:1% 50%;
	background-repeat:no-repeat;
	background-size: 20px;
}

.main .content .center .top .title_left a{
	padding-left: 20px;
	width:130px;
	height: 35px;
	line-height: 35px;
	color: rgba(85, 85, 85,1.0);
	font-size: 20px;
	font-family: Microsoft Yahei;
}

.main .content .center .list1{
	width:1160px;
	position: relative;
	height: 450px;
	padding-top: 20px;
}

.main .content .center .list1 p{
	color: #7b7f82;
	font-size: 15px;
	text-indent:25px;
	font-family: Microsoft Yahei;
	padding-bottom: 5px;
}


.main .content .center .list1 .link{
	padding-right: 20px;
	height: 70px;
	width: auto;
	text-align: center;
	float:left;
}

.main .content .center  .list1 .link a{
	color: #7b7f82;
	font-size: 18px;
	line-height: 40px;
	font-family: Microsoft Yahei;
	transition: 0.3s all;
	display: inline-block;
	text-decoration: none;
}

.main .content .center  .list1 .link a:hover{
	color:#252525;
}


.footer_friends_links{
	 background: #f1f1f1;
    border-top: 1px solid #e6e6e6;
}